<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinturas | GrupoCero</title>
    <link rel="stylesheet" href="{% static 'build/css/app.css'%}" />
    
  </head>
  <body>
    <header class="header inicio">
      <div class="contenedor contenido-header">
        <div class="barra">
          <div class="mobile-menu">
            <img src="{% static 'build/img/barras.svg'%}" alt="icono menu responsive" />
          </div>
          <div class="derecha">
            <img class="dark-mode-boton" src="{% static 'build/img/dark-mode.svg'%}" />
            <nav class="navegacion">
                <a href="{% url 'index' %}">Inicio</a>
                <a href="{% url 'nosotros' %}">Nosotros</a>
                <a href="{% url 'anunciosEs' %}">Esculturas</a>
                <a href="{% url 'anunciosPi' %}">Pinturas</a>
                <a href="{% url 'anunciosTej' %}">Tejidos</a>
                <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
                  <a href="{% url 'agregar_obra' %}">Agregar</a>
                  <a href="{% url 'listar_obra' %}">Listar</a>
                  <a href="{% url 'login' %}">Iniciar Sesión</a>
                  <a href="{% url 'logout' %}">Cerrar Sesión</a>
              </nav>
          </div>
        </div>
        <div class="container"> 
            <img src="{% static 'build/img/logoo.webp'%}" alt="Logo de tu sitio web" class="logo">
          </a>
    </header>

    <main class="contenedor seccion">

        <h2>Pinturas en venta</h2>

        <div class="contenedor-anuncios">
            <div class="anuncio">
                <picture>
                    <source srcset="{% static 'build/img/anuncio31.webp' %}" type="image/webp" />
                    <source srcset="{% static 'build/img/anuncio31.jpg' %}" type="image/jpeg" />
                    <img loading="lazy" src="{% static 'build/img/anuncio31.jpg' %}" alt="anuncio" />
                </picture>

                <div class="contenido-anuncio">
                    <h3>La Gioconda</h3>
                    <p>También conocida como Mona Lisa, es la obra con más renombre de Leonardo Da Vinci y el cuadro más famoso del mundo.</p>
                    <p class="precio">$550,000</p>
                    <br><br><br>

                    <a href="{%url 'Pimona'%}" class="boton-amarillo-block">
                        Ver Pintura
                    </a>
                </div><!--.contenido-anuncio-->
            </div><!--anuncio-->

            <div class="anuncio">
                <picture>
                    <source srcset="{% static 'build/img/anuncio32.webp' %}" type="image/webp" />
                    <source srcset="{% static 'build/img/anuncio32.jpg' %}" type="image/jpeg" />
                    <img loading="lazy" src="{% static 'build/img/anuncio32.jpg' %}" alt="anuncio" />
                </picture>

                <div class="contenido-anuncio">
                    <h3>La noche estrellada</h3>
                    <p>La obra maestra del holandés fue pintada en 1889 por Van Gogh en el manicomio de Saint-Rémy, donde se recluyó hacia el final de su vida.</p>
                    
                    <p class="precio">$34,000,000</p>
                    <br><br>
                    <a href="{%url 'PiNoche'%}" class="boton-amarillo-block">
                        Ver Pintura
                    </a>
                </div><!--.contenido-anuncio-->
            </div><!--anuncio-->

            <div class="anuncio">
                <picture>
                    <source srcset="{% static 'build/img/anuncio33.webp' %}" type="image/webp" />
                    <source srcset="{% static 'build/img/anuncio33.jpg' %}" type="image/jpeg" />
                    <img loading="lazy" src="{% static 'build/img/anuncio33.jpg' %}" alt="anuncio" />
                </picture>

                <div class="contenido-anuncio">
                    <h3>The Swing</h3>
               <!---->     <p>Los felices azares del columpio (en francés, Les hasards heureux de l’escarpolette) o, simplemente, El columpio es el cuadro más conocido del artista francés Jean Honoré Fragonard.</p>
                <br>   
               <p class="precio">$100,000,000</p>
<br><br><br><br>
                    <a href="{%url 'PiSwing'%}" class="boton-amarillo-block">
                        Ver Pintura
                    </a>

    </main>

    <footer class="footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="{% url 'index' %}">Inicio</a>
                <a href="{% url 'nosotros' %}">Nosotros</a>
                <a href="{% url 'anunciosEs' %}">Esculturas</a>
                <a href="{% url 'anunciosPi' %}">Pinturas</a>
                <a href="{% url 'anunciosTej' %}">Tejidos</a>
                <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
                <a href="{% url 'blog' %}">Blog</a>
                <a href="{% url 'contacto' %}">Contacto</a>
            </nav>
        </div>

        <p class="copyright">Todos los derechos Reservados 2021 &copy;</p>
    </footer>

    <script src="{% static 'build/js/bundle.min.js' %}"></script>
</body>
</html>