<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Teji2 | GrupoCero</title>
    <link rel="stylesheet" href="{% static 'build/css/app.css'%}" />
    
  </head>
  
  <body>

    <header class="header inicio">

      <div class="contenedor contenido-header">
        <!--
        </div>-->
        <div class="barra">
          <div class="mobile-menu">
            <img src="{% static 'build/img/barras.svg'%}" alt="icono menu responsive" />
          </div>

          <div class="derecha">
            <img class="dark-mode-boton" src="{% static 'build/img/dark-mode.svg'%}" />
            <nav class="navegacion">
              <a href="{% url 'index' %}">Inicio</a>
              <a href="{% url 'nosotros' %}">Nosotros</a>
              <a href="{% url 'anunciosEs' %}">Esculturas</a>
              <a href="{% url 'anunciosPi' %}">Pinturas</a>
              <a href="{% url 'anunciosTej' %}">Tejidos</a>
              <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
              <a href="{% url 'blog' %}">Blog</a>
              <a href="{% url 'contacto' %}">Contacto</a>
            </nav>
          </div>
        </div>
        <div class="container"> 
            <img src="{% static 'build/img/logoo.webp'%}" alt="Logo de tu sitio web" class="logo">
          </a>
    </header>

    <main class="contenedor seccion contenido-centrado">
      <h1>
        La Escultura: Un Viaje a Través del Tiempo y la Expresión Artística
      </h1>

      <picture>
        <source srcset="build/img/BlogEscultura.webp" type="image/webp" />
        <source srcset="build/img/BlogEscultura.jpg" type="image/jpeg" />
        <img
          loading="lazy"
          src="build/img/destacada2.jpg"
          alt="imagen de la propiedad"
        />
      </picture>

      <p class="informacion-meta">
        Escrito el: <span>20/01/2023</span> por: <span>Admin</span>
      </p>

      <div class="resumen-propiedad">
        <p>
          La escultura, una forma de arte tridimensional, ha desempeñado un
          papel crucial en la historia de la humanidad. Desde las antiguas
          civilizaciones hasta el arte contemporáneo, la escultura ha sido una
          poderosa herramienta para capturar la belleza, la cultura y los
          ideales de diferentes épocas. En esta entrada de blog, exploraremos la
          importancia de la escultura en distintos momentos históricos, su
          evolución a lo largo del tiempo y su impacto duradero en la expresión
          artística.
        </p>

        <p>
          Escultura en la Antigüedad: <br />La escultura tiene sus raíces en las
          antiguas civilizaciones, como la egipcia, la griega y la romana. En
          estas culturas, la escultura se utilizaba para representar a dioses,
          faraones, héroes y figuras mitológicas. Estas esculturas eran
          consideradas manifestaciones visuales de la divinidad y se creaban
          para honrar a los seres superiores y para embellecer los espacios
          públicos y los templos. La escultura egipcia, con sus formas rígidas y
          estilizadas, buscaba la eternidad y la inmortalidad, mientras que la
          escultura griega enfatizaba la perfección del cuerpo humano y
          transmitía una sensación de movimiento y vida.
        </p>

        <p>
          Escultura en la Edad Media y el Renacimiento: <br />Durante la Edad
          Media, la escultura cristiana se convirtió en una forma de arte
          dominante en Europa. Las esculturas religiosas adornaban las iglesias
          y catedrales, representando escenas bíblicas y figuras sagradas. Estas
          esculturas se caracterizaban por su carácter devocional y la
          representación idealizada de las figuras divinas.
        </p>

        <p>
          El Renacimiento trajo consigo un renacimiento de las artes en Europa,
          y la escultura floreció bajo la influencia de maestros como Donatello,
          Miguel Ángel y Bernini. Las esculturas renacentistas, como "David" de
          Miguel Ángel, buscaban la perfección anatómica y la representación
          realista de las emociones humanas. La escultura renacentista fue un
          testimonio del redescubrimiento de la antigua Grecia y Roma, y sentó
          las bases para los movimientos artísticos posteriores.
        </p>

        <p>
          Escultura en la Era Moderna y Contemporánea: <br />Con el paso del
          tiempo, la escultura ha evolucionado y experimentado cambios
          significativos. En la era moderna, escultores como Auguste Rodin y
          Constantin Brancusi desafiaron las convenciones tradicionales y
          exploraron nuevas formas de expresión. La escultura moderna rompió con
          la representación realista y se centró en la exploración de formas
          abstractas y simbólicas.
        </p>

        <p>
          En el arte contemporáneo, la escultura se ha vuelto aún más diversa y
          experimental. Los materiales y técnicas utilizados se han ampliado, y
          los artistas han explorado conceptos como el espacio, la identidad y
          la crítica social a través de sus esculturas. La escultura
          contemporánea a menudo desafía las expectativas y puede adoptar formas
          inusuales o utilizar materiales no convencionales
        </p>
      </div>
    </main>

    <footer class="footer seccion">
      <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="nosotros.html">Nosotros</a>
          <a href="anunciosEs.html">Esculturas</a>
          <a href="anunciosPi.html">Pinturas</a>
          <a href="anuncios.html">Tejidos</a>
          <a href="anuncios.html">Orfebrería</a>
          <a href="blog.html">Blog</a>
          <a href="contacto.html">Contacto</a>
        </nav>
      </div>

      <p class="copyright">Todos los derechos Reservados 2023 &copy;</p>
    </footer>

    <script src="build/js/bundle.min.js"></script>
  </body>
</html>
