<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | GrupoCero</title>
    <link rel="stylesheet" href="{% static 'build/css/app.css'%}" />
    
  </head>
  
  <body>

    <header class="header inicio">

      <div class="contenedor contenido-header">
        <!--
        </div>-->
        <div class="barra">
          <div class="mobile-menu">
            <img src="{% static 'build/img/barras.svg'%}" alt="icono menu responsive" />
          </div>

          <div class="derecha">
            <img class="dark-mode-boton" src="{% static 'build/img/dark-mode.svg'%}" />
            <nav class="navegacion">
              <a href="{% url 'index' %}">Inicio</a>
              <a href="{% url 'nosotros' %}">Nosotros</a>
              <a href="{% url 'anunciosEs' %}">Esculturas</a>
              <a href="{% url 'anunciosPi' %}">Pinturas</a>
              <a href="{% url 'anunciosTej' %}">Tejidos</a>
              <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
                <a href="{% url 'agregar_obra' %}">Agregar</a>
                <a href="{% url 'listar_obra' %}">Listar</a>
                <a href="{% url 'login' %}">Iniciar Sesión</a>
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            </nav>
          </div>
        </div>
        <div class="container"> 
            <img src="{% static 'build/img/logoo.webp'%}" alt="Logo de tu sitio web" class="logo">
          </a>
        <!--.barra-->

    </header>

    <main class="contenedor seccion contenido-centrado">
      <h1>Nuestro Blog</h1>

      <article class="entrada-blog">
        <div class="imagen">
          <picture>
            <source srcset="{% static 'build/img/blog1.webp'%}" type="image/webp" />
            <source srcset="{% static 'build/img/blog1.jpg'%}" type="image/jpeg" />
            <img
              loading="lazy"
              src="{% static 'build/img/blog1.jpg'%}"
              alt="Texto Entrada Blog">
            </img>
          </picture>
        </div>

        <div class="texto-entrada">
          <a href="{% url 'BlogEscultura'%}">
            <h4>La Escultura: Un Viaje a Través del Tiempo y la Expresión Artística</h4>
            <p>Escrito el: <span>30/01/1457</span> por: <span>Valentina Perez</span></p>

            <p>
              En este blog aprenderás sobre la escultura y su importancia en los
              disntitos momentos de la historia
            </p>
          </a>
        </div>
      </article>

      <article class="entrada-blog">
        <div class="imagen">
          <picture>
            <source srcset="{% static 'build/img/blog2.webp'%}" type="image/webp" />
            <source srcset="{% static 'build/img/blog2.jpg'%}" type="image/jpeg" />
            <img
              loading="lazy"
              src="{% static 'build/img/blog2.jpg'%}"
              alt="Texto Entrada Blog">
            </img>
          </picture>
        </div>

        <div class="texto-entrada">
          <a href="{% url 'BlogPintura'%}">
            <h4>Explora Tu Creatividad: Tips para la Pintura y la Expresión Artística</h4>
            <p>Escrito el: <span>22/04/1934</span> por: <span>María López Rodríguez</span></p>

            <p>
              Aprende tips sobre la pintura y como expresarte a través de ella
            </p>
          </a>
        </div>
      </article>

      <article class="entrada-blog">
        <div class="imagen">
          <picture>
            <source srcset="{% static 'build/img/blog3.webp'%}" type="image/webp" />
            <source srcset="{% static 'build/img/blog3.jpg'%}" type="image/jpeg" />
            <img
              loading="lazy"
              src="{% static 'build/img/blog3.jpg'%}"
              alt="Texto Entrada Blog">
            </img>
          </picture>
        </div>

        <div class="texto-entrada">
          <a href="{% url 'BlogTejido'%}">
            <h4> Tejiendo Belleza: El Arte del Tejido como Expresión Creativa</h4>
            <p>Escrito el: <span>15/05/2010</span> por: <span>Lucas Morales</span></p>

            <p>El estilo del tejido y el arte plasmados en ellos son una de las principales demostraciones que están en este blog,
              desde los distintos tipos de telas, hasta los más complejos movimientos de costura.
            </p>
          </a>
        </div>
      </article>

      <article class="entrada-blog">
        <div class="imagen">
          <picture>
            <source srcset="{% static 'build/img/blog4.webp'%}" type="image/webp" />
            <source srcset="{% static 'build/img/blog4.jpg'%}" type="image/jpeg" />
            <img
              loading="lazy"
              src="{% static 'build/img/blog4.jpg'%}"
              alt="Texto Entrada Blog">
          </img>
          </picture>
        </div>

        <div class="texto-entrada">
          <a href="{% url 'BlogArte'%}">
            <h4>El Arte Realista: Una Expresión de Belleza y Autenticidad</h4>
            <p>Escrito el: <span>12/02/1998</span> por: <span>María López Rodríguez</span></p>

            <p>
                Desde retratos hasta paisajes y naturaleza muerta, el arte realista abarca una amplia gama de temas, todos ellos representados con una habilidad técnica excepcional.
            </p>
          </a>
        </div>
      </article>
    </main>

    <footer class="footer seccion">
      <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="{% url 'index' %}">Inicio</a>
          <a href="{% url 'nosotros' %}">Nosotros</a>
          <a href="{% url 'anunciosEs' %}">Esculturas</a>
          <a href="{% url 'anunciosPi' %}">Pinturas</a>
          <a href="{% url 'anunciosTej' %}">Tejidos</a>
          <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
          <a href="{% url 'blog' %}">Blog</a>
          <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
      </div>

      <p class="copyright">Todos los derechos Reservados 2023 &copy;</p>
    </footer>

    <script src="{% static 'build/js/bundle.min.js' %}"></script>
  </body>
</html>
