<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog de Orfebrería | GrupoCero</title>
    <link rel="stylesheet" href="{% static 'build/css/app.css'%}" />
    
  </head>
  
  <body>

    <header class="header inicio">

      <div class="contenedor contenido-header">
        <!--
        </div>-->
        <div class="barra">
          <div class="mobile-menu">
            <img src="{% static 'build/img/barras.svg'%}" alt="icono menu responsive" />
          </div>

          <div class="derecha">
            <img class="dark-mode-boton" src="{% static 'build/img/dark-mode.svg'%}" />
            <nav class="navegacion">
              <a href="{% url 'index' %}">Inicio</a>
              <a href="{% url 'nosotros' %}">Nosotros</a>
              <a href="{% url 'anunciosEs' %}">Esculturas</a>
              <a href="{% url 'anunciosPi' %}">Pinturas</a>
              <a href="{% url 'anunciosTej' %}">Tejidos</a>
              <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
              <a href="{% url 'blog' %}">Blog</a>
              <a href="{% url 'contacto' %}">Contacto</a>
            </nav>
          </div>
        </div>
        <div class="container"> 
            <img src="{% static 'build/img/logoo.webp'%}" alt="Logo de tu sitio web" class="logo">
          </a>
    </header>

    <main class="contenedor seccion contenido-centrado">
      <h1>
        El arte eterno de la orfebrería: creando belleza en metal
      </h1>

      <picture>
        <source srcset="{%static 'build/img/BlogEscultura.webp'%}" type="image/webp" />
        <source srcset="{%static 'build/img/BlogEscultura.jpg'%}" type="image/jpeg" />
        <img
          loading="lazy"
          src="{%static 'build/img/BlogEscultura.jpg'%}"
          alt="imagen de la propiedad"
        />
      </picture>

      <p class="informacion-meta">
        Escrito el: <span>20/01/2023</span> por: <span>Admin</span>
      </p>

      <div class="resumen-propiedad">
        <p>
          La orfebrería es un antiguo y noble arte que ha fascinado a la humanidad a lo largo de los siglos. Desde los albores de la civilización, los orfebres han dado forma a metales preciosos como el oro y la plata, creando piezas de increíble belleza y valor. En este blog, exploraremos el mundo de la orfebrería, desde su historia y técnicas hasta su relevancia en la actualidad. Descubriremos cómo los orfebres contemporáneos continúan honrando y revitalizando esta ancestral forma de expresión artística.
        </p>

        <p>
          Desde las primeras civilizaciones de la antigüedad, como los egipcios y los sumerios, hasta los refinados diseños de las culturas griega y romana, la orfebrería ha estado presente en diversas culturas y períodos históricos. Exploraremos algunas de las técnicas y estilos más destacados de cada época, así como las simbologías y significados asociados a las piezas de orfebrería.
        </p>

        <p>
          Sumérgete en el mundo de las técnicas utilizadas por los orfebres a lo largo del tiempo. Desde el martillado y el repujado hasta la soldadura y la filigrana, cada método implica habilidades y destrezas particulares. Exploraremos cómo se llevan a cabo estas técnicas y cómo han evolucionado con el tiempo, permitiendo a los orfebres crear piezas más complejas y detalladas.
        </p>

        <p>
          La orfebrería no se limita solo a las tradicionales joyas y objetos decorativos. En la actualidad, los orfebres experimentan con nuevas formas, materiales y conceptos para crear piezas vanguardistas y únicas. Exploraremos el mundo de la joyería contemporánea y descubriremos cómo los artistas se valen de su creatividad y habilidades técnicas para desafiar las convenciones y crear obras que reflejan la individualidad y la expresión personal.
        </p>

        <p>
          En un mundo cada vez más dominado por la producción en masa y la industrialización, la orfebrería artesanal se destaca como una forma de arte valiosa y significativa. Exploraremos los beneficios y el valor de las piezas hechas a mano, desde la atención al detalle y la calidad superior hasta la conexión emocional y la sostenibilidad. También discutiremos la importancia de apoyar a los orfebres artesanales y preservar este oficio ancestral.
        </p>

        <p>
          En este último apartado, miraremos hacia el futuro y exploraremos cómo la orfebrería está evolucionando en el siglo XXI. Desde la incorporación de tecnologías como la impresión 3D y el diseño asistido por computadora hasta la experimentación con materiales no convencionales, los orfebres contemporáneos están abriendo nuevos caminos y desafiando las fronteras del arte en metal. Descubriremos las tendencias emergentes y cómo la orfebrería continúa siendo una forma de expresión atemporal.
        </p>
        <p>
          La orfebrería es un arte que ha cautivado a la humanidad durante siglos y que sigue siendo relevante y apreciado en la actualidad. Ya sea a través de piezas tradicionales o innovadoras, los orfebres siguen creando belleza en metal y transmitiendo su pasión a través de cada creación. La orfebrería no solo es una manifestación artística, sino también una forma de preservar la historia, la cultura y la artesanía. Sigamos valorando y apoyando a los orfebres, para que este noble arte perdure y continúe inspirando a las generaciones venideras.
        </p>
      </div>
    </main>

    <footer class="footer seccion">
      <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="{% url 'index' %}">Inicio</a>
          <a href="{% url 'nosotros' %}">Nosotros</a>
          <a href="{% url 'anunciosEs' %}">Esculturas</a>
          <a href="{% url 'anunciosPi' %}">Pinturas</a>
          <a href="{% url 'anunciosTej' %}">Tejidos</a>
          <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
          <a href="{% url 'blog' %}">Blog</a>
          <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
      </div>

      <p class="copyright">Todos los derechos Reservados 2023 &copy;</p>
    </footer>

    <script src="{% static 'build/js/bundle.min.js' %}"></script>
  </body>
</html>
