<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cristo Redentor | GrupoCero</title>
    <link rel="stylesheet" href="{% static 'build/css/app.css'%}" />
    
  </head>
  <body>
    <header class="header inicio">
      <div class="contenedor contenido-header">
        <div class="barra">
          <div class="mobile-menu">
            <img src="{% static 'build/img/barras.svg'%}" alt="icono menu responsive" />
          </div>

          <div class="derecha">
            <img class="dark-mode-boton" src="{% static 'build/img/dark-mode.svg'%}" />
            <nav class="navegacion">
              <a href="{% url 'index' %}">Inicio</a>
              <a href="{% url 'nosotros' %}">Nosotros</a>
              <a href="{% url 'anunciosEs' %}">Esculturas</a>
              <a href="{% url 'anunciosPi' %}">Pinturas</a>
              <a href="{% url 'anunciosTej' %}">Tejidos</a>
              <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
              <a href="{% url 'blog' %}">Blog</a>
              <a href="{% url 'contacto' %}">Contacto</a>
            </nav>
          </div>
        </div>
        <div class="container"> 
            <img src="{% static 'build/img/logoo.webp'%}" alt="Logo de tu sitio web" class="logo">
          </a>
    </header>

    <main class="contenedor seccion contenido-centrado">
      <h1>Cristo Redentor</h1>

      <picture>
        <source srcset="{%static 'build/img/destacada.webp'%}" type="image/webp" />
        <source srcset="{%static 'build/img/destacada.jpg'%}" type="image/jpeg" />
        <img loading="lazy" src="{%static 'build/img/destacada.jpg'%}" alt="imagen de la propiedad" />
      </picture>

      <div class="resumen-propiedad">
        <p class="precio">$15,000,000</p>

        <p>
          El Cristo Redentor o Cristo del Corcovado es una estatua art déco que
          representa a Jesús de Nazaret, con los brazos abiertos, mostrando a la
          ciudad de Río de Janeiro, Brasil. La estatua tiene una altura de
          treinta metros sobre un pedestal de ocho metros.1​2​ Este monumento
          fue inaugurado el 12 de octubre de 1931 después de aproximadamente 5
          años de construcción. Es la cuarta estatua de Jesús de Nazaret más
          grande del mundo, detrás de la estatua de Cristo Rey de Świebodzin
          (Polonia), de 36 m, el Cristo de la Concordia de Cochabamba (Bolivia),
          de 34.2 m, y el Cristo Redentor de Tihuatlan (México), de 31.5 m.3​4​
          Es reconocida, por una empresa privada, como una de las nuevas siete
          maravillas del mundo moderno junto con Machu Picchu, la Gran Muralla
          China, el Coliseo de Roma, el Taj Mahal, Chichén Itzá y Petra. El
          Cristo Redentor es uno de los atractivos destinos turísticos más
          importantes de Brasil y, para los creyentes, un lugar de
          peregrinación. Al cumplirse los ochenta años de su inauguración, en
          2011, se celebró una exposición que repasa la historia del monumento
          y, sobre todo, cómo esta estatua se ha convertido en punto de
          referencia para los brasileños e inspiración para el presidente.
        </p>

        <p></p>
      </div>
    </main>

    <footer class="footer seccion">
      <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="{% url 'index' %}">Inicio</a>
          <a href="{% url 'nosotros' %}">Nosotros</a>
          <a href="{% url 'anunciosEs' %}">Esculturas</a>
          <a href="{% url 'anunciosPi' %}">Pinturas</a>
          <a href="{% url 'anunciosTej' %}">Tejidos</a>
          <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
          <a href="{% url 'blog' %}">Blog</a>
          <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
      </div>

      <p class="copyright">Todos los derechos Reservados 2023 &copy;</p>
    </footer>

    <script src="{% static 'build/js/bundle.min.js' %}"></script>
  </body>
</html>
