<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cristo | GrupoCero</title>
    <link rel="stylesheet" href="build/css/app.css" />
  </head>
  <body>
    <header class="header">
      <div class="contenedor contenido-header">
        <div class="barra">

          <div class="mobile-menu">
            <img src="build/img/barras.svg" alt="icono menu responsive" />
          </div>

          <div class="derecha">
            <img class="dark-mode-boton" src="build/img/dark-mode.svg">
            <nav class="navegacion">
              <a href="index.html">Inicio</a>
              <a href="nosotros.html">Nosotros</a>
              <a href="anunciosEs.html">Esculturas</a>
              <a href="anunciosPi.html">Pinturas</a>
              <a href="anunciosTej.html">Tejidos</a>
              <a href="anunciosOrf.html">Orfebrería</a>
              <a href="blog.html">Blog</a>
              <a href="contacto.html">Contacto</a>
            </nav>
        </div>
        </div>
        <!--.barra-->
      </div>
    </header>

    <main class="contenedor seccion contenido-centrado">
      <h1>Cristo Redentor</h1>

      <picture>
        <source srcset="build/img/destacada.webp" type="image/webp" />
        <source srcset="build/img/destacada.jpg" type="image/jpeg" />
        <img loading="lazy" src="" alt="imagen de la propiedad" />
      </picture>

      <div class="resumen-propiedad">
        <p class="precio">$15,000,000</p>
        <!--     <ul class="iconos-caracteristicas">
                <li>
                    <img class="icono" loading="lazy" src="build/img/icono_wc.svg" alt="icono wc">
                    <p>3</p>
                </li>
                <li>
                    <img class="icono" loading="lazy" src="build/img/icono_estacionamiento.svg" alt="icono estacionamiento">
                    <p>3</p>
                </li>
                <li>
                    <img class="icono"  loading="lazy" src="build/img/icono_dormitorio.svg" alt="icono habitaciones">
                    <p>4</p>
                </li>
            </ul>-->

        <p>
          El Cristo Redentor o Cristo del Corcovado es una estatua art déco que
          representa a Jesús de Nazaret, con los brazos abiertos, mostrando a la
          ciudad de Río de Janeiro, Brasil. La estatua tiene una altura de
          treinta metros sobre un pedestal de ocho metros.1​2​ Este monumento
          fue inaugurado el 12 de octubre de 1931 después de aproximadamente 5
          años de construcción. Es la cuarta estatua de Jesús de Nazaret más
          grande del mundo, detrás de la estatua de Cristo Rey de Świebodzin
          (Polonia), de 36 m, el Cristo de la Concordia de Cochabamba (Bolivia),
          de 34.2 m, y el Cristo Redentor de Tihuatlan (México), de 31.5 m.3​4​
          Es reconocida, por una empresa privada, como una de las nuevas siete
          maravillas del mundo moderno junto con Machu Picchu, la Gran Muralla
          China, el Coliseo de Roma, el Taj Mahal, Chichén Itzá y Petra. El
          Cristo Redentor es uno de los atractivos destinos turísticos más
          importantes de Brasil y, para los creyentes, un lugar de
          peregrinación. Al cumplirse los ochenta años de su inauguración, en
          2011, se celebró una exposición que repasa la historia del monumento
          y, sobre todo, cómo esta estatua se ha convertido en punto de
          referencia para los brasileños e inspiración para el presidente.
        </p>

        <p></p>
      </div>
    </main>

    <footer class="footer seccion">
      <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="nosotros.html">Nosotros</a>
                <a href="anunciosEs.html">Esculturas</a>
                <a href="anunciosPi.html">Pinturas</a>
                <a href="anuncios.html">Tejidos</a>
                <a href="anuncios.html">Orfebrería</a>
                <a href="blog.html">Blog</a>
                <a href="contacto.html">Contacto</a>
        </nav>
      </div>

      <p class="copyright">
        Moon&Bits Todos los derechos Reservados 2023 &copy;
      </p>
    </footer>

    <script src="build/js/bundle.min.js"></script>
  </body>
</html>
