<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>David de Miguel Angel | GrupoCero</title>
    <link rel="stylesheet" href="{% static 'build/css/app.css'%}" />
    
  </head>
  <body>
    <header class="header inicio">
      <div class="contenedor contenido-header">
        <div class="barra">
          <div class="mobile-menu">
            <img src="{% static 'build/img/barras.svg'%}" alt="icono menu responsive" />
          </div>

          <div class="derecha">
            <img class="dark-mode-boton" src="{% static 'build/img/dark-mode.svg'%}" />
            <nav class="navegacion">
              <a href="{% url 'index' %}">Inicio</a>
              <a href="{% url 'nosotros' %}">Nosotros</a>
              <a href="{% url 'anunciosEs' %}">Esculturas</a>
              <a href="{% url 'anunciosPi' %}">Pinturas</a>
              <a href="{% url 'anunciosTej' %}">Tejidos</a>
              <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
                <a href="{% url 'agregar_obra' %}">Agregar</a>
                <a href="{% url 'listar_obra' %}">Listar</a>
                <a href="{% url 'login' %}">Iniciar Sesión</a>
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            </nav>
          </div>
        </div>
        <div class="container"> 
            <img src="{% static 'build/img/logoo.webp'%}" alt="Logo de tu sitio web" class="logo">
          </a>
    </header>

    <main class="contenedor seccion contenido-centrado">
      <h1>David de Miguel Angel</h1>

      <picture>
        <source srcset="{%static 'build/img/destacada2.webp'%}" type="image/webp" />
        <source srcset="{%static 'build/img/destacada2.jpg'%}" type="image/jpeg" />
        <img loading="lazy" src="{%static 'build/img/destacada2.jpg'%}" alt="imagen de la propiedad" />
      </picture>

      <div class="resumen-propiedad">
        <p class="precio">$7,000,000</p>

        <p>
          El David es una escultura de mármol blanco de 5,17 metros de altura y
          5572 kilogramos de masa, realizada por Miguel Ángel Buonarroti entre
          1501 y 1504 por encargo de la Opera del Duomo de la catedral de Santa
          María del Fiore de Florencia. La escultura representa al rey David
          bíblico en el momento previo a enfrentarse con Goliat, y fue acogida
          como un símbolo de la República de Florencia frente a la hegemonía de
          sus derrocados dirigentes, los Médici, y la amenaza de los estados
          adyacentes, especialmente los Estados Pontificios. El David es una de
          las obras maestras del Renacimiento según la mayoría de los
          historiadores, y una de las esculturas más famosas del mundo.
          Actualmente se encuentra expuesta en la Galería de la Academia de
          Florencia, aunque hasta 1873 estuvo ubicada en la plaza de la Señoría
          de la capital toscana; desde entonces en su lugar se erige una copia
          realizada también en mármol blanco.
        </p>

        <p></p>
      </div>
    </main>
    <footer class="footer seccion">
      <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="{% url 'index' %}">Inicio</a>
          <a href="{% url 'nosotros' %}">Nosotros</a>
          <a href="{% url 'anunciosEs' %}">Esculturas</a>
          <a href="{% url 'anunciosPi' %}">Pinturas</a>
          <a href="{% url 'anunciosTej' %}">Tejidos</a>
          <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
          <a href="{% url 'blog' %}">Blog</a>
          <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
      </div>

      <p class="copyright">Todos los derechos Reservados 2023 &copy;</p>
    </footer>

    <script src="{% static 'build/js/bundle.min.js' %}"></script>
  </body>
</html>