<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estatua de la libertad | GrupoCero</title>
    <link rel="stylesheet" href="{% static 'build/css/app.css'%}" />
    
  </head>
  <body>
    <header class="header inicio">
      <div class="contenedor contenido-header">
        <div class="barra">
          <div class="mobile-menu">
            <img src="{% static 'build/img/barras.svg'%}" alt="icono menu responsive" />
          </div>

          <div class="derecha">
            <img class="dark-mode-boton" src="{% static 'build/img/dark-mode.svg'%}" />
            <nav class="navegacion">
              <a href="{% url 'index' %}">Inicio</a>
              <a href="{% url 'nosotros' %}">Nosotros</a>
              <a href="{% url 'anunciosEs' %}">Esculturas</a>
              <a href="{% url 'anunciosPi' %}">Pinturas</a>
              <a href="{% url 'anunciosTej' %}">Tejidos</a>
              <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
                <a href="{% url 'agregar_obra' %}">Agregar</a>
                <a href="{% url 'listar_obra' %}">Listar</a>
                <a href="{% url 'login' %}">Iniciar Sesión</a>
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            </nav>
          </div>
        </div>
        <div class="container"> 
            <img src="{% static 'build/img/logoo.webp'%}" alt="Logo de tu sitio web" class="logo">
          </a>
    </header>

    <main class="contenedor seccion contenido-centrado">
      <h1>Estatua de la libertad</h1>

      <picture>
        <source srcset="{%static 'build/img/destacada4.webp'%}" type="image/webp" />
        <source srcset="{%static 'build/img/destacada4.jpg'%}" type="image/jpeg" />
        <img loading="lazy" src="{%static 'build/img/destacada4.jpg'%}" alt="imagen de la propiedad" />
      </picture>

      <div class="resumen-propiedad">
        <p class="precio">$25,000,000</p>
        <p>
          La Libertad iluminando el mundo (en inglés: Liberty Enlightening the
          World; en francés: La Liberté éclairant le monde), más conocida como
          la Estatua de la Libertad, es uno de los monumentos más famosos de
          Nueva York, de los Estados Unidos y de todo el mundo. Se encuentra en
          la isla de la Libertad al sur de la isla de Manhattan, junto a la
          desembocadura del río Hudson y cerca de la isla Ellis. La Estatua de
          la Libertad fue un regalo del pueblo francés al pueblo estadounidense
          en 1886 para conmemorar el centenario de la Declaración de
          Independencia de los Estados Unidos y como un signo de amistad entre
          las dos naciones.
        </p>
      </div>
    </main>

    <footer class="footer seccion">
      <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="{% url 'index' %}">Inicio</a>
          <a href="{% url 'nosotros' %}">Nosotros</a>
          <a href="{% url 'anunciosEs' %}">Esculturas</a>
          <a href="{% url 'anunciosPi' %}">Pinturas</a>
          <a href="{% url 'anunciosTej' %}">Tejidos</a>
          <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
          <a href="{% url 'blog' %}">Blog</a>
          <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
      </div>

      <p class="copyright">Todos los derechos Reservados 2023 &copy;</p>
    </footer>

    <script src="{% static 'build/js/bundle.min.js' %}"></script>
  </body>
</html>
