<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sirena | GrupoCero</title>
    <link rel="stylesheet" href="{% static 'build/css/app.css'%}" />
    
  </head>
  <body>
    <header class="header inicio">
      <div class="contenedor contenido-header">
        <div class="barra">
          <div class="mobile-menu">
            <img src="{% static 'build/img/barras.svg'%}" alt="icono menu responsive" />
          </div>

          <div class="derecha">
            <img class="dark-mode-boton" src="{% static 'build/img/dark-mode.svg'%}" />
            <nav class="navegacion">
              <a href="{% url 'index' %}">Inicio</a>
              <a href="{% url 'nosotros' %}">Nosotros</a>
              <a href="{% url 'anunciosEs' %}">Esculturas</a>
              <a href="{% url 'anunciosPi' %}">Pinturas</a>
              <a href="{% url 'anunciosTej' %}">Tejidos</a>
              <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
                <a href="{% url 'agregar_obra' %}">Agregar</a>
                <a href="{% url 'listar_obra' %}">Listar</a>
                <a href="{% url 'login' %}">Iniciar Sesión</a>
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            </nav>
          </div>
        </div>
        <div class="container"> 
            <img src="{% static 'build/img/logoo.webp'%}" alt="Logo de tu sitio web" class="logo">
          </a>
    </header>

    <main class="contenedor seccion contenido-centrado">
      <h1>La Sirenita</h1>

      <picture>
        <source srcset="{%static 'build/img/destacada5.webp'%}" type="image/webp" />
        <source srcset="{%static 'build/img/destacada5.jpg'%}" type="image/jpeg" />
        <img loading="lazy" src="{%static 'build/img/destacada5.jpg'%}" alt="imagen de la propiedad" />
      </picture>

      <div class="resumen-propiedad">
        <p class="precio">$3,500,000</p>
        <p>
          La Sirenita (en danés Den lille havfrue) es una escultura de una
          sirena de bronce, que se encuentra en la ciudad de Copenhague.
          Realizado por el escultor danés Edvard Eriksen, se encuentra en el
          paseo de la costa Langelinie, en la bahía del Puerto de Copenhague,
          que desemboca al mar Báltico y próxima también al real palacio de
          Amalienborg, sobre unas rocas que se adentran en el mar. En la
          actualidad es el símbolo más prominente de la ciudad.
        </p>
      </div>
    </main>

    <footer class="footer seccion">
      <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="{% url 'index' %}">Inicio</a>
          <a href="{% url 'nosotros' %}">Nosotros</a>
          <a href="{% url 'anunciosEs' %}">Esculturas</a>
          <a href="{% url 'anunciosPi' %}">Pinturas</a>
          <a href="{% url 'anunciosTej' %}">Tejidos</a>
          <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
          <a href="{% url 'blog' %}">Blog</a>
          <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
      </div>

      <p class="copyright">Todos los derechos Reservados 2023 &copy;</p>
    </footer>

    <script src="{% static 'build/js/bundle.min.js' %}"></script>
  </body>
</html>