<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de inicio | GrupoCero</title>
    <link rel="stylesheet" href="{% static 'build/css/app.css'%}" />
    
  </head>
  
  <body>

    <header class="header inicio">

      <div class="contenedor contenido-header">
        <!--
        </div>-->
        <div class="barra">
          <div class="mobile-menu">
            <img src="{% static 'build/img/barras.svg'%}" alt="icono menu responsive" />
          </div>

          <div class="derecha">
              <nav class="navegacion">
              <a href="{% url 'index' %}">Inicio</a>
              <a href="{% url 'nosotros' %}">Nosotros</a>
              <a href="{% url 'anunciosEs' %}">Esculturas</a>
              <a href="{% url 'anunciosPi' %}">Pinturas</a>
              <a href="{% url 'anunciosTej' %}">Tejidos</a>
              <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
                <a href="{% url 'agregar_obra' %}">Agregar</a>
                <a href="{% url 'listar_obra' %}">Listar</a>
                <a href="{% url 'login' %}">Iniciar Sesión</a>
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
                <br><img class="dark-mode-boton" src="{% static 'build/img/dark-mode.svg'%}" />
          
            </nav>
          </div>
        </div>
        <div class="container"> 
            <img src="{% static 'build/img/logoo.webp'%}" alt="Logo de tu sitio web" class="logo">

        <!--.barra-->

        <h1>Venta de distintos tipos de arte</h1>
      </div>
    </header>

    <main class="contenedor seccion">
      <h1>Más Sobre Nosotros</h1>

      <div class="iconos-nosotros">
        <div class="icono">
          <img
            src="{% static 'build/img/icono1.svg'%}"
            alt="Icono seguridad"
            loading="lazy"
          />
          <h3>Seguridad</h3>
          <p>
            Porque nos preocupamos por ti, te aseguramos una compra totalmente
            segura.
          </p>
        </div>
        <div class="icono">
          <img src="{% static 'build/img/icono2.svg'%}" alt="Icono Precio" loading="lazy" />
          <h3>Precio</h3>
          <p>
            Precios acorde al mercado y a tu bolsillo, revisa nuestro catálogo
            con los distintos tipos de arte disponibles
          </p>
        </div>
        <div class="icono">
          <img src="{% static 'build/img/icono3.svg'%}" alt="Icono Tiempo" loading="lazy" />
          <h3>Tiempo</h3>
          <p>
            Porque nos adaptamos a tus necesidades, ve si alguna de las obras
            que deseas comprar se encuentra disponible en la misma web.
          </p>
        </div>
      </div>
    </main>

    <section class="seccion contenedor">
      <h2>Obras en Venta</h2>

      <div class="contenedor-anuncios">
        <div class="anuncio">
          <picture>
            <source srcset="{% static 'src/img/Escultura1.jpg'%}" type="image/webp" />
            <source srcset="{% static 'src/img/Escultura1.jpg'%}" type="image/jpeg" />
            <img loading="lazy" src="{% static 'src/img/Escultura1.jpg'%}" alt="anuncio" />
          </picture>

          <div class="contenido-anuncio">
            <h3>Esculturas</h3>
            <p>¡Poseemos la mejor variedad y calidad en esculturas famosas de todo el mundo!</p>
            <!-- <p class="precio">$3.000.000</p>-->
            <a href="{% url 'anunciosEs' %}" class="boton-amarillo-block">
              Ver Productos
            </a>
          </div>
          <!--.contenido-anuncio-->
        </div>
        <!--anuncio-->

        <div class="anuncio">
          <picture>
            <source srcset="{% static 'src/img/Angel.jpg'%}" type="image/webp" />
            <source srcset="{% static 'src/img/Angel.jpg'%}" type="image/jpeg" />
            <img loading="lazy" src="{% static 'src/img/Angel.jpg'%}"anuncio" />
          </picture>

          <div class="contenido-anuncio">
            <h3>Pinturas</h3>
            <p>Pinturas de calidad, obtenidas directamente del Louvre.</p>
            <!-- <p class="precio">$3,0000,000</p>-->

            <a href="{% url 'anunciosPi' %}" class="boton-amarillo-block">
              Ver Productos
            </a>
          </div>
          <!--.contenido-anuncio-->
        </div>
        <!--anuncio-->

        <div class="anuncio">
          <picture>
            <source srcset="{% static 'src/img/5.jpg'%}" type="image/webp" />
            <source srcset="{% static 'src/img/5.jpg'%}" type="image/jpeg" />
            <img loading="lazy" src="{% static 'src/img/5.jpg'%}" alt="anuncio" />
          </picture>

          <div class="contenido-anuncio">
            <h3>Tejidos</h3>
            <p>Los mejores tejidos con materiales únicos en su calidad, exportados desde todo el mundo.</p>
           <!-- <p class="precio">$3,0000,000</p>-->
            <a href="{% url 'anunciosTej' %}" class="boton-amarillo-block">
              Ver Productos
            </a>
          </div>
          <!--.contenido-anuncio-->
        </div>

        <div class="anuncio">
          <picture>
            <source srcset="{% static 'src/img/Tutankamon.jpg'%}" type="image/webp" />
            <source srcset="{% static 'src/img/Tutankamon.jpg'%}" type="image/jpeg" />
            <img loading="lazy" src="{% static 'src/img/Tutankamon.jpg'%}" alt="anuncio" />
          </picture>

          <div class="contenido-anuncio">
            <h3>Orfebrería</h3>
            <p>Los mejores tejidos con materiales únicos en su calidad, exportados desde todo el mundo.</p>
           <!-- <p class="precio">$3,0000,000</p>-->
            <a href="{% url 'anunciosOrf' %}" class="boton-amarillo-block">
              Ver Productos
            </a>
          </div>
          <!--.contenido-anuncio-->
        </div>



        <!--anuncio-->
      </div>
      <!--.contenedor-anuncios-->

    <!--<div class="alinear-derecha">
        <a href="anuncios.html" class="boton-verde">Ver Todas</a>
      </div>
    </section>
  -->
    <section class="imagen-contacto">
      <h2>Encuentra la expresión artistica que más se adapte a ti</h2>
      <p>
        Llena el formulario de contacto y un asesor se pondrá en contacto
        contigo a la brevedad
      </p>
      <a href="{% url 'contacto' %}" class="boton-amarillo">Contactános</a>
    </section>

    <div class="contenedor seccion seccion-inferior">
      <section class="blog">
        <h3>Nuestro Blog</h3>

        <article class="entrada-blog">
          <div class="imagen">
            <picture>
              <source srcset="{% static 'src/img/Tejido2.webp'%}" type="image/webp" />
              <source srcset="{% static 'src/img/Tejido2.webp'%}" type="image/jpeg" />
              <img
                loading="lazy"
                src="{% static 'src/img/Tejido2.webp'%}"
                alt="Texto Entrada Blog"
              />
            </picture>
          </div>

          <div class="texto-entrada">
            <a href="{% url 'BlogTejido' %}">
              <h4>El tejido como expresión de arte</h4>
              <p class="informacion-meta">
                Escrito el: <span>20/10/2021</span> por: <span>Admin</span>
              </p>

              <p>
                Como el tejido se ha consagrado como expresión artistica a
                través de los años
              </p>
            </a>
          </div>
        </article>

        <article class="entrada-blog">
          <div class="imagen">
            <picture>
              <source srcset="{% static 'src/img/Fondo3.jpg'%}" type="image/webp" />
              <source srcset="{% static 'src/img/Fondo3.jpg'%}" type="image/jpeg" />
              <img
                loading="lazy"
                src="{% static 'src/img/Fondo3.jpg'%}"
                alt="Texto Entrada Blog"
              />
            </picture>
          </div>

          <div class="texto-entrada">
            <a href="{% url 'BlogOrfebreria' %}">
              <h4>La orfebrería y sus variaciones</h4>
              <p class="informacion-meta">
                Escrito el: <span>20/10/2021</span> por: <span>Admin</span>
              </p>

              <p>
                Conoce los distintitos tipos de accesorios y obras que se pueden
                crear a través de la orfebrería.
              </p>
            </a>
          </div>
        </article>
      </section>

      <section class="testimoniales">
        <h3>Testimoniales</h3>

        <div class="testimonial">
          <blockquote>
            El personal fue muy amable, la obra pedida fue totalmente lo
            esperado.
          </blockquote>
          <p>- Kamilo Sesto</p>
        </div>
      </section>
    </div>

    <footer class="footer seccion">
      <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="{% url 'index' %}">Inicio</a>
          <a href="{% url 'nosotros' %}">Nosotros</a>
          <a href="{% url 'anunciosEs' %}">Esculturas</a>
          <a href="{% url 'anunciosPi' %}">Pinturas</a>
          <a href="{% url 'anunciosTej' %}">Tejidos</a>
          <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
          <a href="{% url 'blog' %}">Blog</a>
          <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
      </div>

      <p class="copyright">Todos los derechos Reservados 2023 &copy;</p>
    </footer>

    <script src="{% static 'build/js/bundle.min.js' %}"></script>
  </body>
</html>
