<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de inicio | GrupoCero</title>
    <link rel="stylesheet" href="{% static 'build/css/app.css'%}" />
    
  </head>
  
  <body>

    <header class="header inicio">

      <div class="contenedor contenido-header">
        <!--
        </div>-->
        <div class="barra">
          <div class="mobile-menu">
            <img src="{% static 'build/img/barras.svg'%}" alt="icono menu responsive" />
          </div>

          <div class="derecha">
            <img class="dark-mode-boton" src="{% static 'build/img/dark-mode.svg'%}" />
            <nav class="navegacion">
              <a href="{% url 'index' %}">Inicio</a>
              <a href="{% url 'nosotros' %}">Nosotros</a>
              <a href="{% url 'anunciosEs' %}">Esculturas</a>
              <a href="{% url 'anunciosPi' %}">Pinturas</a>
              <a href="{% url 'anunciosTej' %}">Tejidos</a>
              <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
              <a href="{% url 'blog' %}">Blog</a>
              <a href="{% url 'contacto' %}">Contacto</a>
            </nav>
          </div>
        </div>
        <div class="container"> 
            <img src="{% static 'build/img/logoo.webp'%}" alt="Logo de tu sitio web" class="logo">
          </a>
        <!--.barra-->

    </header>

    <main class="contenedor seccion">
      <h1>Conoce sobre Nosotros</h1>

      <div class="contenido-nosotros">
        <div class="imagen">
          <picture>
            <source srcset="{%static 'build/img/nosotros.webp'%}" type="image/webp" />
            <source srcset="{%static 'build/img/nosotros.jpg'%}" type="image/jpeg" />
            <img
              loading="lazy"
              src="{%static 'build/img/nosotros.jpg'%}"
              alt="Sobre Nosotros"
            />
          </picture>
        </div>

        <div class="texto-nosotros">
          <blockquote>25 Años de experiencia</blockquote>

          <p>
            Bienvenido a Grupo Cero: Tu destino para la venta y compra de arte
            excepcional Somos una empresa líder en el mundo del arte,
            especializada en la venta y compra de obras de arte de alta calidad.
            Nuestra pasión por el arte nos impulsa a ofrecer una experiencia
            única y enriquecedora para coleccionistas, artistas y amantes del
            arte.
          </p>

          <p>
            Nuestro Compromiso: <br />
            <br />-Asesoramiento personalizado: Entendemos que la adquisición de
            una obra de arte es una experiencia única y personal. Nuestro equipo
            de asesores está listo para escuchar tus necesidades y brindarte
            orientación experta para encontrar la obra perfecta que complemente
            tu estilo y visión. <br />-Transparencia y confianza: Valoramos la
            confianza que depositas en nosotros al elegirnos como tu socio en el
            mundo del arte. Nos comprometemos a ser transparentes en todas
            nuestras transacciones, proporcionando información detallada y
            garantizando la confidencialidad en todas las negociaciones.
            <br />-Eventos y exposiciones: Creemos en la importancia de
            compartir el arte con la comunidad. Organizamos regularmente
            exposiciones y eventos para exhibir obras destacadas y fomentar el
            diálogo entre artistas y amantes del arte. Explora nuestro catálogo
            en línea o visita nuestra galería para descubrir una selección
            excepcional de obras de arte. <br />En Grupo Cero, estamos
            comprometidos a brindarte una experiencia enriquecedora y
            personalizada en el emocionante mundo del arte. ¡Únete a nosotros en
            esta apasionante aventura artística!
          </p>
        </div>
      </div>
    </main>

    <section class="contenedor seccion">
      <h1>Más Sobre Nosotros</h1>

      <div class="iconos-nosotros">
        <div class="icono">
          <img
            src="{%static 'build/img/icono1.svg'%}"
            alt="Icono seguridad"
            loading="lazy"
          />
          <h3>Seguridad</h3>
          <p>
            Porque nos preocupamos por ti, te aseguramos una compra totalmente
            segura.
          </p>
        </div>
        <div class="icono">
          <img src="{%static 'build/img/icono2.svg'%}" alt="Icono Precio" loading="lazy" />
          <h3>Precio</h3>
          <p>
            Precios acorde al mercado y a tu bolsillo, revisa nuestro catálogo
            con los distintos tipos de arte disponibles
          </p>
        </div>
        <div class="icono">
          <img src="{%static 'build/img/icono3.svg'%}" alt="Icono Tiempo" loading="lazy" />
          <h3>Tiempo</h3>
          <p>
            Porque nos adaptamos a tus necesidades, ve si alguna de las obras
            que deseas comprar se encuentra disponible en la misma web.
          </p>
        </div>
      </div>
    </section>

    <footer class="footer seccion">
      <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="{% url 'index' %}">Inicio</a>
          <a href="{% url 'nosotros' %}">Nosotros</a>
          <a href="{% url 'anunciosEs' %}">Esculturas</a>
          <a href="{% url 'anunciosPi' %}">Pinturas</a>
          <a href="{% url 'anunciosTej' %}">Tejidos</a>
          <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
          <a href="{% url 'blog' %}">Blog</a>
          <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
      </div>

      <p class="copyright">Todos los derechos Reservados 2023 &copy;</p>
    </footer>

    <script src="{% static 'build/js/bundle.min.js' %}"></script>
  </body>
</html>
