<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noche Estrellada | GrupoCero</title>
    <link rel="stylesheet" href="{% static 'build/css/app.css'%}" />
    
  </head>
  <body>
    <header class="header inicio">
      <div class="contenedor contenido-header">
        <div class="barra">
          <div class="mobile-menu">
            <img src="{% static 'build/img/barras.svg'%}" alt="icono menu responsive" />
          </div>

          <div class="derecha">
            <img class="dark-mode-boton" src="{% static 'build/img/dark-mode.svg'%}" />
            <nav class="navegacion">
              <a href="{% url 'index' %}">Inicio</a>
              <a href="{% url 'nosotros' %}">Nosotros</a>
              <a href="{% url 'anunciosEs' %}">Esculturas</a>
              <a href="{% url 'anunciosPi' %}">Pinturas</a>
              <a href="{% url 'anunciosTej' %}">Tejidos</a>
              <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
              <a href="{% url 'blog' %}">Blog</a>
              <a href="{% url 'contacto' %}">Contacto</a>
            </nav>
          </div>
        </div>
        <div class="container"> 
            <img src="{% static 'build/img/logoo.webp'%}" alt="Logo de tu sitio web" class="logo">
          </a>
    </header>

    <main class="contenedor seccion contenido-centrado">
      <h1>La Noche Estrellada</h1>

      <picture>
        <source srcset="{%static 'build/img/destacada32.webp'%}" type="image/webp" />
        <source srcset="{%static 'build/img/destacada32.jpg'%}" type="image/jpeg" />
        <img loading="lazy" src="{%static 'build/img/destacada32.jpg'%}" alt="imagen de la propiedad" />
      </picture>

      <div class="resumen-propiedad">
        <p class="precio">$34,000,000</p>

        <p>
          Noche estrellada es un óleo sobre lienzo del pintor postimpresionista
          neerlandés Vincent van Gogh. Pintado en junio de 1889, representa la
          vista desde la ventana orientada al este de su habitación de asilo en
          Saint-Rémy-de-Provence, justo antes del amanecer, con la adición de un
          pueblo imaginario. Ha estado en la colección permanente del Museo de
          Arte Moderno de la ciudad de Nueva York desde 1941, adquirida a través
          de Lillie P. Bliss Bequest. Ampliamente considerada como la obra
          maestra, La noche estrellada es una de las pinturas más reconocidas en
          la historia de la cultura occidental.
        </p>
      </div>
    </main>

    <footer class="footer seccion">
      <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="{% url 'index' %}">Inicio</a>
          <a href="{% url 'nosotros' %}">Nosotros</a>
          <a href="{% url 'anunciosEs' %}">Esculturas</a>
          <a href="{% url 'anunciosPi' %}">Pinturas</a>
          <a href="{% url 'anunciosTej' %}">Tejidos</a>
          <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
          <a href="{% url 'blog' %}">Blog</a>
          <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
      </div>

      <p class="copyright">Todos los derechos Reservados 2023 &copy;</p>
    </footer>

    <script src="{% static 'build/js/bundle.min.js' %}"></script>
  </body>
</html>
