<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coral | GrupoCero</title>
    <link rel="stylesheet" href="{% static 'build/css/app.css'%}" />
    
  </head>
  <body>
    <header class="header inicio">
      <div class="contenedor contenido-header">
        <div class="barra">
          <div class="mobile-menu">
            <img src="{% static 'build/img/barras.svg'%}" alt="icono menu responsive" />
          </div>

          <div class="derecha">
            <img class="dark-mode-boton" src="{% static 'build/img/dark-mode.svg'%}" />
            <nav class="navegacion">
              <a href="{% url 'index' %}">Inicio</a>
              <a href="{% url 'nosotros' %}">Nosotros</a>
              <a href="{% url 'anunciosEs' %}">Esculturas</a>
              <a href="{% url 'anunciosPi' %}">Pinturas</a>
              <a href="{% url 'anunciosTej' %}">Tejidos</a>
              <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
              <a href="{% url 'blog' %}">Blog</a>
              <a href="{% url 'contacto' %}">Contacto</a>
            </nav>
          </div>
        </div>
        <div class="container"> 
            <img src="{% static 'build/img/logoo.webp'%}" alt="Logo de tu sitio web" class="logo">
          </a>
    </header>

    <main class="contenedor seccion contenido-centrado">
      <h1>Coral</h1>

      <picture>
        <source srcset="{%static 'build/img/anuncio41.webp'%}" type="image/webp" />
        <source srcset="{%static 'build/img/anuncio41.jpg'%}" type="image/jpeg" />
        <img loading="lazy" src="{%static 'build/img/anuncio41.jpg'%}" alt="imagen de la propiedad" />
      </picture>

      <div class="resumen-propiedad">
        <p class="precio">$10,000</p>

        <p>
          De ser considerado un arte menor en el pasado, en este siglo, el arte
          textil está viviendo una edad dorada. Prueba de ello es la profusión
          de artistas contemporáneos que abrazan técnicas y materiales
          vinculados con estas prácticas ancestrales, que durante siglos
          estuvieron circunscritas a los ámbitos domésticos, de la artesanía y
          de las artes y oficios. Hasta hace pocos años apasionaba sólo a un
          grupo de entendidos, pero ahora atrae el interés de coleccionistas,
          artistas, museos, y galerías.
        </p>
      </div>
    </main>

    <footer class="footer seccion">
      <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="{% url 'index' %}">Inicio</a>
          <a href="{% url 'nosotros' %}">Nosotros</a>
          <a href="{% url 'anunciosEs' %}">Esculturas</a>
          <a href="{% url 'anunciosPi' %}">Pinturas</a>
          <a href="{% url 'anunciosTej' %}">Tejidos</a>
          <a href="{% url 'anunciosOrf' %}">Orfebrería</a>
          <a href="{% url 'blog' %}">Blog</a>
          <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
      </div>

      <p class="copyright">Todos los derechos Reservados 2023 &copy;</p>
    </footer>

    <script src="{% static 'build/js/bundle.min.js' %}"></script>
  </body>
</html>
