<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coral | GrupoCero</title>
    <link rel="stylesheet" href="build/css/app.css" />
  </head>
  <body>
    <header class="header">
      <div class="contenedor contenido-header">
        <div class="barra">
          <div class="mobile-menu">
            <img src="build/img/barras.svg" alt="icono menu responsive" />
          </div>

          <div class="derecha">
            <img class="dark-mode-boton" src="build/img/dark-mode.svg">
            <nav class="navegacion">
              <a href="index.html">Inicio</a>
              <a href="nosotros.html">Nosotros</a>
              <a href="anunciosEs.html">Esculturas</a>
              <a href="anunciosPi.html">Pinturas</a>
              <a href="anunciosTej.html">Tejidos</a>
              <a href="anunciosOrf.html">Orfebrería</a>
              <a href="blog.html">Blog</a>
              <a href="contacto.html">Contacto</a>
            </nav>
        </div>
        </div>
        <!--.barra-->
      </div>
    </header>

    <main class="contenedor seccion contenido-centrado">
      <h1>Coral</h1>

      <picture>
        <source srcset="build/img/anuncio41.webp" type="image/webp" />
        <source srcset="build/img/anuncio41.jpg" type="image/jpeg" />
        <img loading="lazy" src="" alt="imagen de la propiedad" />
      </picture>

      <div class="resumen-propiedad">
        <p class="precio">$10,000</p>

        <p>
          De ser considerado un arte menor en el pasado, en este siglo, el arte textil está viviendo una edad dorada. Prueba de ello es la profusión de artistas contemporáneos que abrazan técnicas y materiales vinculados con estas prácticas ancestrales, que durante siglos estuvieron circunscritas a los ámbitos domésticos, de la artesanía y de las artes y oficios. Hasta hace pocos años apasionaba sólo a un grupo de entendidos, pero ahora atrae el interés de coleccionistas, artistas, museos, y galerías.       </p>
      </div>
    </main>

    <footer class="footer seccion">
      <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="nosotros.html">Nosotros</a>
                <a href="anunciosEs.html">Esculturas</a>
                <a href="anunciosPi.html">Pinturas</a>
                <a href="anuncios.html">Tejidos</a>
                <a href="anuncios.html">Orfebrería</a>
                <a href="blog.html">Blog</a>
                <a href="contacto.html">Contacto</a>
        </nav>
      </div>

      <p class="copyright">
        Moon&Bits Todos los derechos Reservados 2023 &copy;
      </p>
    </footer>

    <script src="build/js/bundle.min.js"></script>
  </body>
</html>
